XTerm.vt100.faceName: Fixed:pixelsize=12:lang=ru:antialias=false:autohint=false
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.termName: xterm-256color
XTerm.loginShell: true
XTerm.hold: false

#include ".Xresources.d/blaquemagic"
