Xft.autohint: true
Xft.dpi: 96
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

urxvt*title: terminal

urxvt*font: xft:dejavu sans mono:size=10
urxvt*boldFont:

urxvt*letterSpace: -1

urxvt*perl-ext-common: default,clipboard,url-select,font-size

urxvt*keysym.M-u: perl:url-select:select_next
urxvt*url-select.launcher: xdg-open

urxvt*keysym.M-c: perl:clipboard:copy
urxvt*keysym.M-v: perl:clipboard:paste
urxvt*keysym.M-C-v: perl:clipboard:paste_escaped

urxvt*keysym.C-Up: font-size:increase
urxvt*keysym.C-Down: font-size:decrease

urxvt*scrollBar: false

urxvt*saveLines: 99999

urxvt*scrollTtyOutput: false
urxvt*scrollWithBuffer: true
urxvt*scrollTtyKeypress: true

urxvt*cursorBlink: false
urxvt*cursorUnderline: false

! special
*.foreground:   #e7e8eb
*.background:   #08080b
*.cursorColor:  #e7e8eb

! black
*.color0:       #08080b
*.color8:       #545466

! red
*.color1:       #8c5760
*.color9:       #b26f7a

! green
*.color2:       #7b8c58
*.color10:      #9db270

! yellow
*.color3:       #8c6e43
*.color11:      #b28c55

! blue
*.color4:       #58698c
*.color12:      #7086b2

! magenta
*.color5:       #7b5e7d
*.color13:      #9c77b2

! cyan
*.color6:       #66808c
*.color14:      #82a2b2

! white
*.color7:       #393838
*.color15:      #b8b8c8
