//----------------------
// Configuration
//----------------------

configuration {
	modi:			"drun,run";
	width:			683;
	lines:			10;
	font:			"Fixed Bold 10";
	show-match:		false;
	separator-style:	"solid";
	hide-scrollbar:		true;
	theme:			"nord";
}
